nav {
    background-color: aqua;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.logo {
    width: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

.container h3 {
    margin-left: 20px;
}

.container ol {
    list-style: none;
    margin-bottom: 50px;
}